{% extends "base.tmpl" %}
  {% block content %}
    <div class="container">
    <div class="m-t-1">
        <h1>Thank you!</h1>
      </div>
      <p class="lead">
      PythonOnWheels is based on the extraordinary well and reliable frameworks, modules and libraries below.
      They are full of features from which PoW only uses a few but you can use all in raw mode. They are also 
      all heavily supported by a strong community which gives PoW a very reliable, long living and evoluting 
      future.
      </p>
      <p class="lead">
        Even if this is in python the greatest thanks goes to: <a href="http://rubyonrails.org/"> Ruby on Rails</a>. 
        This was and is really inspiring.</p>  
      <p>
      Thank you all very much.
      </p>
      <h4>Based on a strong foundation</h4>
        <p>
          <ul>
            <li><a href="http://www.tornadoweb.org/en/stable/">tornado web</a> - the async & web framework. The base of PoW's core.</li>
            <li><a href="http://www.sqlalchemy.org/">sqlalchemy</a> THE python SQL ORM</li>
            <li><a href="http://docs.python-cerberus.org/en/stable/">cerberus schema validation</a></li>
            <li><a href="http://www.tornadoweb.org/en/stable/guide/templates.html">tornado templates</a></li>
            <li><a href="https://facebook.github.io/react/">react.js</a> views</li>
            <!--li>NoSQL with tinyDB <small>(add more like mongoDB easily, just subclass model)</small></li-->
            <li>Supporting libraries: 
              <a href="https://pypi.python.org/pypi/dicttoxml">dicttoxml</a>, 
              <a href="https://github.com/martinblech/xmltodict">xmltodict</a>, 
              <a href="https://pythonhosted.org/Markdown/">markdown</a>
            </li>
          </ul>
        </p>
    </div>
  {% end %}

